@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Lato:400|Poppins:700");

:root {
  --gulp-blue: #082b59;
  --text---dark-bg: #ffffff;
  --gulp-orange: #d98555;
  --black: #000000;
  --font-size-l: 24px;
  --font-size-xxl: 40px;
  --font-size-m: 19.2px;
  --font-size-xl: 26.4px;
  --font-size-xs: 16px;
  --font-size-s: 17.6px;
  --font-family-lato: "Lato", Helvetica;
  --font-family-poppins: "Poppins", Helvetica;
}

.products {
  display: flex;
  position: relative;
}

* {
  box-sizing: border-box;
}

.products-tablet {
  align-items: flex-start;
  background-color: var(--text---dark-bg);
  border: 1px none;
  flex-direction: column;
  min-width: 834px;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.headertablet {
  align-items: center;
  align-self: stretch;
  background-color: var(--gulp-blue);
  gap: 10px;
  justify-content: center;
}

.nav-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  position: relative;
}

.ul-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 204px;
  justify-content: center;
  padding: 10px;
  position: relative;
  transform: rotate(180deg);
}

.links {
  align-items: flex-start;
  gap: 20px;
  width: fit-content;
}

.products-tablet .li-link {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transform: rotate(180deg);
}

.li-link-2 {
  width: 117px;
}

.link-3 {
  align-items: center;
  align-self: stretch;
  cursor: pointer;
  display: flex;
  gap: 5px;
  justify-content: center;
  position: relative;
}

.products-tablet .icon {
  height: 24px;
  position: relative;
  transform: rotate(-360deg);
}

.icon-4 {
  min-width: 18px;
}

.nav-links-mobile {
  font-family: var(--font-family-lato);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.link-2 {
  color: var(--text---dark-bg);
  font-weight: 400;
  line-height: 58px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.li-link-1 {
  cursor: pointer;
  width: 113px;
}

.products-tablet .a {
  display: flex;
  position: relative;
}

.a-3 {
  align-items: center;
  align-self: stretch;
  gap: 5px;
  justify-content: center;
}

.icon-3 {
  min-width: 24px;
}

.li-link-3 {
  width: 101px;
}

.icon-5 {
  min-width: 30px;
}

.li-logo {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  height: 116px;
  justify-content: center;
  padding: 0px 16px 16px;
  position: relative;
  transform: rotate(180deg);
}

.a-2 {
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
}

.logo-1 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64740346db5759783bf2288b/releases/64740352fae5e5512a83660f/img/logo@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100px;
  min-width: 200px;
  position: relative;
}

.footer-1 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--gulp-blue);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  mix-blend-mode: normal;
  position: relative;
}

.p-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 19.2px;
  padding: 5px;
  position: relative;
}

.x2022-trilogy-educat-1 {
  align-self: stretch;
  color: var(--text---dark-bg);
  font-weight: 400;
  line-height: 38.4px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.p-mobile {
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.lato-normal-white-16px {
  color: var(--text---dark-bg);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.this-site-is-operate-1 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 38.4px;
  position: relative;
  text-align: center;
}

.sm-icons-1 {
  align-self: stretch;
  height: 112px;
  min-width: 834px;
  position: relative;
}

.orange-bar-1 {
  align-self: stretch;
  background-color: var(--gulp-orange);
  height: 10px;
  min-width: 834px;
  position: relative;
}

.main-bkgd-1 {
  align-items: flex-start;
  align-self: stretch;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64740346db5759783bf2288b/releases/6474073549c630a66c95bf6e/img/main-bkgd-10.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 0px 300px;
  position: relative;
}

.one-column-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 24px;
  position: relative;
}

.article-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 12px 0px 0px;
  position: relative;
}

.h1-mobile {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
}

.title-1 {
  color: var(--black);
  font-weight: 700;
  line-height: 80px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.products-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  position: relative;
}

.frame {
  align-items: flex-start;
  align-self: stretch;
  gap: 16px;
}

.text-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.frame-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 10px;
  padding: 0px 0px 24px;
  position: relative;
}

.products-tablet .h2 {
  color: var(--black);
  font-weight: 700;
  line-height: 38.4px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.h2-mobile {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
}

.with-our-columbian-b-1 {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 38.4px;
  position: relative;
}

.img-div-1 {
  align-items: flex-start;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 200px;
  overflow: hidden;
  position: relative;
  width: fit-content;
}

.img-3 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64740346db5759783bf2288b/releases/64740352fae5e5512a83660f/img/img-8@2x.png);
}

.products-tablet .img {
  background-position: 50% 50%;
  background-size: cover;
  flex: 1;
  height: 200px;
  min-width: 303px;
  position: relative;
}

.img-4 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64740346db5759783bf2288b/releases/64740352fae5e5512a83660f/img/img-11@2x.png);
  border-radius: 10px;
}

.skillfully-roasted-a-1 {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 38.4px;
  position: relative;
}

.our-lightly-roasted-1 {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 38.4px;
  position: relative;
}

.img-5 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64740346db5759783bf2288b/releases/64740352fae5e5512a83660f/img/img-12@2x.png);
  border-radius: 10px;
}
